<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar animated placeholder="Pesquise por locais, pontos de parada" (keypress)="onChangeSearchQs()" [formControl]="searchQs"></ion-searchbar>
        <ion-list>
            <ion-item *ngFor="let place of matchedPlaces" (click)="findPlaceAndClear(place)">
                <ion-label>{{place.description}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-google-map (onRoutesLoad)="onRoutesLoad($event)" (exportSetDirection)="setDirection($event)" (exportFindPlace)="setFindPlace($event)"></app-google-map>
</ion-content>
<ion-footer *ngIf="routes">

    <section *ngFor="route of routes; let i = index">

        <div class="title">
            <strong>Rota {{i + 1}}</strong>
        </div>
        <div class="distance">{{ route?.distance }} <small>km</small></div>
        <div class="time">{{ route?.time }} <small>horas</small></div>
        <div class="more_info">{{ route?.stops }}</div>

        <div class="actions">
            <ion-button color="success" (click)="selectRoute(0)">Confirmar Rota</ion-button>
            <ion-button color="danger" (click)="cancelRoute(0)">Esquecer Rota</ion-button>
        </div>

    </section>

</ion-footer>