<ion-content>

    <section class="screen">

        <img src="../../assets/img/login.jpg" />

        <h3>
            Bem vindo <br> Estradeiro
        </h3>

        <p>
            Encontre aqui os melhores pontos de parada na sua rota e interaja com outros estradeiros.
            <br/>
            <br/> Por favor, confirme os seus dados abaixo e boa viagem!
        </p>

        <ion-item>
            <ion-label>Nome: </ion-label>
            <ion-input readonly=true>João Estradeiro</ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Número: </ion-label>
            <ion-input readonly=true>11 8888-8888</ion-input>
        </ion-item>

        <ion-button (click)="enter()">Entrar</ion-button>

    </section>

</ion-content>