<ion-input [hide]="!mapsLoaded" #search placeholder="Pesquise rotas, pontos de parada, etc" value=""></ion-input>
<div id="map" #map></div>

<ion-toolbar
    style="
        position: absolute;
        bottom: 15%;
        width: 100%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    "
>
    <ion-title>Title Only</ion-title>
</ion-toolbar>
