<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Mapa</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="conversation">
            <ion-icon name="mic"></ion-icon>
            <ion-label>Conversa</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts">
            <ion-icon name="people"></ion-icon>
            <ion-label>Contatos</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>